/*
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}*/

#displayImage {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

#imageSelector {
    position: absolute;
    top: 65px;
    z-index: 1;
    background-color: white;
}
#arrow_1 {
    position: absolute;
    width: 100px; /* 오버레이 이미지 크기 */
    height: auto; /* 비율 유지 */
}
#arrow_2 {
    position: absolute;
    width: 100px; /* 오버레이 이미지 크기 */
    height: auto; /* 비율 유지 */
}
#mangrove_1 {
  cursor: pointer;
  position:absolute;
  width:30px;
  height: auto;
}
#mangrove_2 {
    cursor: pointer;
    position:absolute;
    width:30px;
    height: auto;
  }
#mangrovetooltip {
    text-align: left;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
    display: none; /* 기본적으로 숨김 */
    z-index: 10; /* 다른 요소 위에 표시 */
    white-space: pre-wrap; 
}